{erl_opts, [debug_info,
            {platform_define, "^(R14|R15|R16B|17)", 'random_module_available'},
            {if_version_below, "23", {d, 'INCLUDE_ERL_INTERFACE'}}
           ]}.
{deps, [{prometheus, "~> 4.0"}]}.

{plugins, [
            {pc, {git, "https://github.com/blt/port_compiler.git", {branch, "master"}}}
          ]}.
{port_specs, [
    {".*-apple-darwin.*", "priv/prometheus_process_collector.so",
        ["c_src/prometheus_process_collector_nif.cc", "c_src/prometheus_process_info_macos.cc"]
    },
    {".*-linux", "priv/prometheus_process_collector.so",
        ["c_src/prometheus_process_collector_nif.cc", "c_src/prometheus_process_info_linux.cc"]
    },
    {".*-freebsd.*", "priv/prometheus_process_collector.so",
        ["c_src/prometheus_process_collector_nif.cc", "c_src/prometheus_process_info_freebsd.cc"]
    }
]}.
{port_env, [
    {"CXXFLAGS", "-std=c++11 -Wall -O3 -finline-functions"},
    {".*-linux", "CXX", "g++"},
    {".*-apple-darwin.*", "CXX", "c++"},
    {".*-freebsd.*", "CXX", "c++"}
]}.
{so_name, "prometheus_process_collector.so"}.
{artifacts, ["priv/prometheus_process_collector.so"]}.
{provider_hooks, [
    {pre, [
        {compile,
            {pc, compile}
        },
        {clean,
            {pc, clean}
        }
    ]}
]}.
