{erl_opts, [debug_info]}.
{deps, [{prometheus, "3.4.1"}]}.

{pre_hooks,
 [{"linux", compile, "make -C c_src"},
  {"freebsd", compile, "gmake -C c_src"}]}.
{post_hooks,
 [{"linux", clean, "make -C c_src clean"},
  {"freebsd", compile, "gmake -C c_src"}]}.
 
{plugins, [{rebar3_archive_plugin, "0.0.1"}]}.
